USE [master]
GO
/****** Object:  Database [TMS]    Script Date: 07-08-2025 11.04.09 AM ******/
CREATE DATABASE [TMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TMS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMS]
GO
/****** Object:  Table [dbo].[City]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NULL,
	[StateID] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pincode]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pincode](
	[PincodeID] [int] IDENTITY(1,1) NOT NULL,
	[Pincode] [nvarchar](10) NULL,
	[CityID] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[PincodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTRETION]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTRETION](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[MobileNumber] [numeric](18, 0) NOT NULL,
	[UserType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REGISTRETION] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](100) NULL,
	[CountryID] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TR_REQUEST]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TR_REQUEST](
	[TR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[FROM_CITY_NAME] [varchar](50) NOT NULL,
	[TO_CITY_NAME] [varchar](50) NOT NULL,
	[TR_STARTDATE] [varchar](50) NOT NULL,
	[TR_ENDDATE] [varchar](50) NOT NULL,
	[NO_OF_TRUCK] [int] NOT NULL,
	[REMARKS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TR_REQUEST] PRIMARY KEY CLUSTERED 
(
	[TR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_REG]    Script Date: 07-08-2025 11.04.10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_REG](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[MobileNumber] [varchar](50) NOT NULL,
	[Profile_Photo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER_REG] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName], [StateID], [Status]) VALUES (1, N'Surat', 1, 1)
INSERT [dbo].[City] ([CityID], [CityName], [StateID], [Status]) VALUES (2, N'Ahmedabad', 1, 1)
INSERT [dbo].[City] ([CityID], [CityName], [StateID], [Status]) VALUES (3, N'Mumbai', 2, 1)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryName], [Status]) VALUES (1, N'India', 1)
INSERT [dbo].[Country] ([CountryID], [CountryName], [Status]) VALUES (2, N'USA', 1)
INSERT [dbo].[Country] ([CountryID], [CountryName], [Status]) VALUES (3, N'America', 1)
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Pincode] ON 

INSERT [dbo].[Pincode] ([PincodeID], [Pincode], [CityID], [Status]) VALUES (1, N'395007', 1, 1)
INSERT [dbo].[Pincode] ([PincodeID], [Pincode], [CityID], [Status]) VALUES (2, N'380001', 2, 1)
INSERT [dbo].[Pincode] ([PincodeID], [Pincode], [CityID], [Status]) VALUES (3, N'400001', 3, 1)
SET IDENTITY_INSERT [dbo].[Pincode] OFF
SET IDENTITY_INSERT [dbo].[REGISTRETION] ON 

INSERT [dbo].[REGISTRETION] ([USER_ID], [Email], [FullName], [Password], [MobileNumber], [UserType]) VALUES (2, N'p@gmail.com', N'prinjal rupareliya', N'p@123', CAST(9731648343 AS Numeric(18, 0)), N'User')
INSERT [dbo].[REGISTRETION] ([USER_ID], [Email], [FullName], [Password], [MobileNumber], [UserType]) VALUES (3, N's@gmail.com', N'sneha ginoya', N's@123', CAST(9929981456 AS Numeric(18, 0)), N'User')
INSERT [dbo].[REGISTRETION] ([USER_ID], [Email], [FullName], [Password], [MobileNumber], [UserType]) VALUES (4, N'n@gmail.com', N'nirmit gajera', N'n@123', CAST(9652345678 AS Numeric(18, 0)), N'User')
SET IDENTITY_INSERT [dbo].[REGISTRETION] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([StateID], [StateName], [CountryID], [Status]) VALUES (1, N'Gujarat', 1, 1)
INSERT [dbo].[State] ([StateID], [StateName], [CountryID], [Status]) VALUES (2, N'Maharashtra', 1, 1)
INSERT [dbo].[State] ([StateID], [StateName], [CountryID], [Status]) VALUES (3, N'California', 2, 1)
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[TR_REQUEST] ON 

INSERT [dbo].[TR_REQUEST] ([TR_ID], [USER_NAME], [FROM_CITY_NAME], [TO_CITY_NAME], [TR_STARTDATE], [TR_ENDDATE], [NO_OF_TRUCK], [REMARKS]) VALUES (1, N'KRINA', N'SURAT', N'BENGLURU', N'Jul 25 2025  4:11PM', N'Aug  1 2025  4:11PM', 5, N'DAFAGSRHTHJGFHHS')
INSERT [dbo].[TR_REQUEST] ([TR_ID], [USER_NAME], [FROM_CITY_NAME], [TO_CITY_NAME], [TR_STARTDATE], [TR_ENDDATE], [NO_OF_TRUCK], [REMARKS]) VALUES (2, N'prinjal rupareliya', N'rajkot', N'pune', N'Jul 28 2025  3:47PM', N'Aug  4 2025  3:47PM', 3, N'fdagahyrutujgfhyjfjttgh')
SET IDENTITY_INSERT [dbo].[TR_REQUEST] OFF
SET IDENTITY_INSERT [dbo].[USER_REG] ON 

INSERT [dbo].[USER_REG] ([U_ID], [Email], [FullName], [Password], [MobileNumber], [Profile_Photo]) VALUES (1, N'prinjal@gmail.com', N'prinjal rupareliya', N'P@123', N'9679579468', N'')
INSERT [dbo].[USER_REG] ([U_ID], [Email], [FullName], [Password], [MobileNumber], [Profile_Photo]) VALUES (2, N'krina@gmail.com', N'KRINA GAJERA', N'k@123', N'9706794573', N'')
INSERT [dbo].[USER_REG] ([U_ID], [Email], [FullName], [Password], [MobileNumber], [Profile_Photo]) VALUES (3, N'abc@gmail.ocm', N'abc', N'123', N'9789896795', N'S1.jpg')
SET IDENTITY_INSERT [dbo].[USER_REG] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Country__E056F2014AE45309]    Script Date: 07-08-2025 11.04.10 AM ******/
ALTER TABLE [dbo].[Country] ADD UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([StateID])
REFERENCES [dbo].[State] ([StateID])
GO
ALTER TABLE [dbo].[Pincode]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
USE [master]
GO
