<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="con" connectionString="Data Source=BCA-36;Initial Catalog=TMS;Integrated Security=True" 
    providerName="System.Data.SqlClient"/>-->
    <add name="con" connectionString="Data Source=DESKTOP-K31NMJE;Initial Catalog=TMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
 
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <!--<httpRuntime maxRequestLength="5120" executionTimeout="240" />-->

    </system.web>

</configuration>
