USE [master]
GO
/****** Object:  Database [TMS]    Script Date: 14-09-2025 16:31:48 ******/
CREATE DATABASE [TMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TMS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TMS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMS]
GO
/****** Object:  Table [dbo].[BID_DETAILS]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BID_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TR_ID] [int] NOT NULL,
	[V_ID] [int] NOT NULL,
	[BidAmount] [int] NOT NULL,
	[NoOfTrucks] [int] NOT NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_BID_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL,
	[StateID] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTECTUS]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTECTUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SUBJECT] [varchar](50) NOT NULL,
	[MESSAGE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CONTECTUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUTTOF_MASTER]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUTTOF_MASTER](
	[CUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_CITY_NAME] [varchar](50) NOT NULL,
	[TO_CITY_NAME] [varchar](50) NOT NULL,
	[CUTOFF_TIME] [varchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_CUTTOF_MASTER] PRIMARY KEY CLUSTERED 
(
	[CUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pincode]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pincode](
	[PincodeID] [int] IDENTITY(1,1) NOT NULL,
	[Pincode] [nvarchar](10) NULL,
	[CityID] [int] NULL,
	[Status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[PincodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PINCODE_MAPPING]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PINCODE_MAPPING](
	[PM_ID] [int] IDENTITY(1,1) NOT NULL,
	[TR_ID] [int] NOT NULL,
	[V_ID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[StateID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[PincodeID] [int] NOT NULL,
	[STATUS] [varchar](50) NOT NULL,
	[UPDATETIME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PINCODE_MAPPING] PRIMARY KEY CLUSTERED 
(
	[PM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[CountryID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TR_REQUEST]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TR_REQUEST](
	[TR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[FROM_CITY_NAME] [varchar](50) NOT NULL,
	[TO_CITY_NAME] [varchar](50) NOT NULL,
	[TR_STARTDATE] [varchar](50) NOT NULL,
	[TR_ENDDATE] [varchar](50) NOT NULL,
	[NO_OF_TRUCK] [int] NOT NULL,
	[REMARKS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TR_REQUEST] PRIMARY KEY CLUSTERED 
(
	[TR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_REGISTRETION]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_REGISTRETION](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[MobileNumber] [numeric](18, 0) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER_REGISTRETION] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENDOR_MASTER]    Script Date: 14-09-2025 16:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENDOR_MASTER](
	[V_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[FULLNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[MOBILE_NUMBER] [numeric](18, 0) NOT NULL,
	[PHOTO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VENDOR_MASTER] PRIMARY KEY CLUSTERED 
(
	[V_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BID_DETAILS] ON 

INSERT [dbo].[BID_DETAILS] ([ID], [TR_ID], [V_ID], [BidAmount], [NoOfTrucks], [status]) VALUES (1, 1, 2, 1100, 3, NULL)
INSERT [dbo].[BID_DETAILS] ([ID], [TR_ID], [V_ID], [BidAmount], [NoOfTrucks], [status]) VALUES (2, 2, 1, 1078, 5, N'Approved')
INSERT [dbo].[BID_DETAILS] ([ID], [TR_ID], [V_ID], [BidAmount], [NoOfTrucks], [status]) VALUES (3, 1, 3, 2800, 3, NULL)
SET IDENTITY_INSERT [dbo].[BID_DETAILS] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName], [StateID], [Status]) VALUES (1, N'Chittorgarh', N'1', 1)
INSERT [dbo].[City] ([CityID], [CityName], [StateID], [Status]) VALUES (2, N'Surat', N'4', 0)
INSERT [dbo].[City] ([CityID], [CityName], [StateID], [Status]) VALUES (3, N'Rajkot', N'4', 1)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[CONTECTUS] ON 

INSERT [dbo].[CONTECTUS] ([ID], [NAME], [EMAIL], [SUBJECT], [MESSAGE]) VALUES (3, N'KRINA', N'K@GMAIL.COM', N'CHETING', N'KFGJDFSHBOISFXOHNBTDGNGJNYF')
INSERT [dbo].[CONTECTUS] ([ID], [NAME], [EMAIL], [SUBJECT], [MESSAGE]) VALUES (4, N'PRINJAL', N'P@GMAIL.COM', N'FKAEJDGKFRS', N'DVSFHBJSFVDEGAGV')
SET IDENTITY_INSERT [dbo].[CONTECTUS] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryName], [Status]) VALUES (1, N'Canada', 1)
INSERT [dbo].[Country] ([CountryID], [CountryName], [Status]) VALUES (2, N'India', 1)
INSERT [dbo].[Country] ([CountryID], [CountryName], [Status]) VALUES (3, N'Turkey', 1)
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[CUTTOF_MASTER] ON 

INSERT [dbo].[CUTTOF_MASTER] ([CUT_ID], [FROM_CITY_NAME], [TO_CITY_NAME], [CUTOFF_TIME], [STATUS]) VALUES (1, N'Surat', N'Mumbai', N'01:00', 1)
INSERT [dbo].[CUTTOF_MASTER] ([CUT_ID], [FROM_CITY_NAME], [TO_CITY_NAME], [CUTOFF_TIME], [STATUS]) VALUES (2, N'Surat', N'Pune', N'01:00', 1)
INSERT [dbo].[CUTTOF_MASTER] ([CUT_ID], [FROM_CITY_NAME], [TO_CITY_NAME], [CUTOFF_TIME], [STATUS]) VALUES (3, N'Mumbai', N'Chittorgarh', N'01:00', 1)
SET IDENTITY_INSERT [dbo].[CUTTOF_MASTER] OFF
SET IDENTITY_INSERT [dbo].[Pincode] ON 

INSERT [dbo].[Pincode] ([PincodeID], [Pincode], [CityID], [Status]) VALUES (1, N'395007', 1, 1)
INSERT [dbo].[Pincode] ([PincodeID], [Pincode], [CityID], [Status]) VALUES (2, N'380001', 2, 1)
INSERT [dbo].[Pincode] ([PincodeID], [Pincode], [CityID], [Status]) VALUES (3, N'400001', 3, 1)
SET IDENTITY_INSERT [dbo].[Pincode] OFF
SET IDENTITY_INSERT [dbo].[PINCODE_MAPPING] ON 

INSERT [dbo].[PINCODE_MAPPING] ([PM_ID], [TR_ID], [V_ID], [CountryID], [StateID], [CityID], [PincodeID], [STATUS], [UPDATETIME]) VALUES (1, 1, 1, 2, 4, 2, 2, N'Order Placed', N'08-32-2025 01:32:PM')
INSERT [dbo].[PINCODE_MAPPING] ([PM_ID], [TR_ID], [V_ID], [CountryID], [StateID], [CityID], [PincodeID], [STATUS], [UPDATETIME]) VALUES (2, 2, 1, 2, 4, 2, 2, N'Order Placed', N'08-23-2025 02:23:PM')
INSERT [dbo].[PINCODE_MAPPING] ([PM_ID], [TR_ID], [V_ID], [CountryID], [StateID], [CityID], [PincodeID], [STATUS], [UPDATETIME]) VALUES (3, 3, 1, 2, 4, 3, 3, N'Order Placed', N'08-26-2025 03:26:PM')
SET IDENTITY_INSERT [dbo].[PINCODE_MAPPING] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([StateID], [StateName], [CountryID], [Status]) VALUES (1, N'Rajasthan', 2, 1)
INSERT [dbo].[State] ([StateID], [StateName], [CountryID], [Status]) VALUES (2, N'Assam', 2, 1)
INSERT [dbo].[State] ([StateID], [StateName], [CountryID], [Status]) VALUES (3, N'Bihar', 2, 1)
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[TR_REQUEST] ON 

INSERT [dbo].[TR_REQUEST] ([TR_ID], [USER_NAME], [FROM_CITY_NAME], [TO_CITY_NAME], [TR_STARTDATE], [TR_ENDDATE], [NO_OF_TRUCK], [REMARKS]) VALUES (1, N'KRINA', N'SURAT', N'BENGLURU', N'Jul 25 2025  4:11PM', N'Aug  1 2025  4:11PM', 5, N'DAFAGSRHTHJGFHHS')
INSERT [dbo].[TR_REQUEST] ([TR_ID], [USER_NAME], [FROM_CITY_NAME], [TO_CITY_NAME], [TR_STARTDATE], [TR_ENDDATE], [NO_OF_TRUCK], [REMARKS]) VALUES (2, N'prinjal rupareliya', N'rajkot', N'pune', N'Jul 28 2025  3:47PM', N'Aug  4 2025  3:47PM', 3, N'fdagahyrutujgfhyjfjttgh')
INSERT [dbo].[TR_REQUEST] ([TR_ID], [USER_NAME], [FROM_CITY_NAME], [TO_CITY_NAME], [TR_STARTDATE], [TR_ENDDATE], [NO_OF_TRUCK], [REMARKS]) VALUES (3, N'KRINA GAJERA', N'1', N'2', N'2025-08-23 15:14:45', N'2025-08-30 15:14:45', 3, N'ok')
SET IDENTITY_INSERT [dbo].[TR_REQUEST] OFF
SET IDENTITY_INSERT [dbo].[USER_REGISTRETION] ON 

INSERT [dbo].[USER_REGISTRETION] ([U_ID], [Email], [FullName], [Password], [MobileNumber], [Country], [State]) VALUES (1, N'krina@gmail.com', N'krina gajera', N'krina@123', CAST(9876543894 AS Numeric(18, 0)), N'2', N'4')
INSERT [dbo].[USER_REGISTRETION] ([U_ID], [Email], [FullName], [Password], [MobileNumber], [Country], [State]) VALUES (2, N'Prinjal@gmail.com', N'Prinjal Rupareliya', N'prinjal@123', CAST(9876543894 AS Numeric(18, 0)), N'2', N'4')
INSERT [dbo].[USER_REGISTRETION] ([U_ID], [Email], [FullName], [Password], [MobileNumber], [Country], [State]) VALUES (3, N'nirmit@gmail.com', N'nirmit gajera', N'nirmit@123', CAST(9731648343 AS Numeric(18, 0)), N'1', N'16')
SET IDENTITY_INSERT [dbo].[USER_REGISTRETION] OFF
SET IDENTITY_INSERT [dbo].[VENDOR_MASTER] ON 

INSERT [dbo].[VENDOR_MASTER] ([V_ID], [EMAIL], [FULLNAME], [PASSWORD], [MOBILE_NUMBER], [PHOTO]) VALUES (1, N'krina@gmail.com', N'krina gajera', N'krina@123', CAST(9876543894 AS Numeric(18, 0)), N'1.jpg')
INSERT [dbo].[VENDOR_MASTER] ([V_ID], [EMAIL], [FULLNAME], [PASSWORD], [MOBILE_NUMBER], [PHOTO]) VALUES (2, N'abcd@gmail.com', N'abcd', N'abcd@123', CAST(9927844770 AS Numeric(18, 0)), N'3.jpg')
INSERT [dbo].[VENDOR_MASTER] ([V_ID], [EMAIL], [FULLNAME], [PASSWORD], [MOBILE_NUMBER], [PHOTO]) VALUES (3, N'nirmit@gmail.com', N'nirmit gajera', N'nirmit@123', CAST(9929981456 AS Numeric(18, 0)), N'5.jpg')
SET IDENTITY_INSERT [dbo].[VENDOR_MASTER] OFF
USE [master]
GO
